<div class="row centralize-div">
    <div class="div-individual">
        <button type="button" class="btn btn-danger btn-lg btn3d mt-20 btn-align" (click)="raiseAlert(1)"><span>Life
                Threat</span></button>
    </div>
    <div class="div-individual">
        <button type="button" class="btn btn-warning btn-lg btn3d mt-20 btn-align" (click)="raiseAlert(2)"><span>Fire
                Alarm</span></button>
    </div>

    <div class="div-individual">
        <button type="button" class="btn btn-primary btn-lg btn3d mt-20 btn-align"
            (click)="raiseAlert(3)"><span>Accident</span></button>
    </div>

    <div class="div-individual">
        <button type="button" class="btn btn-success btn-lg btn3d mt-20 btn-align"
            (click)="raiseAlert(4)"><span>Medical</span></button>
    </div>
</div>